.container {
  background: #fff;
  color: #000;
  border-radius: 5px;
  text-align: center;
  min-width: 40%;
  min-height: 30vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
